.navigation {
  width: 100%;
  max-height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  background-color: #020420;
  margin: 0 auto;
  font-weight: 300; }
  .navigation ul {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    list-style: none; }
  .navigation a {
    color: white;
    text-decoration: none;
    font-size: 1rem; }
    .navigation a.active {
      color: #d714d7; }
  .navigation a:hover {
    color: #d714d7; }
