.error-container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center; }
